/* Logo */
.logo {
  height: 2rem;
  width: auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 12rem;
  color: #000;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navbar-link {
  font-family: "Playfair", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Window */
.window {
  z-index: 2;
}

.window-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem 0.6rem;
  background-color: var(--pink);
  color: #000;
  border-radius: 0.6rem 0.6rem 0 0;
  border: 2px solid #000;
}

.window-body {
  padding: 2rem;
  background-color: #FFF;
  border-radius: 0 0 0.6rem 0.6rem;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.window-body h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.13rem;
}

/* Hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-self: center;
  max-width: 50rem;
  font-size: 1.3rem;
}

.hero-image {
  z-index: 1;
  margin: 0 0 0 -4rem;
  max-width: 450px;
  height: auto;
  border-radius: 15rem;
  margin-bottom: 2rem;
}
